<div class="p-5">
  <div class="row">
    <%#= right side %>
    <div class="col-8">
      <div class="d-flex post-card">
        <%= image_tag 'placeholder.png', class:"img-index-card" %>

        <div class="blog-index-details pl-3">
         <div class="d-flex pb-0 mb-0 text-gray">
            <p><small><strong>SUBJECT</strong></small> -</p>
            <p><small>time ago</small></p>
         </div>

        </div>
      </div>
    </div>

     <%#= left side %>
    <div class="col-5">
    </div>
  </div>
</div>