.about-pics {
  // padding-left: 10%;
  // margin-top: 10vh;
  height: auto;
  width: 85vw;
  text-align: center;
    display: flex;
  justify-content: space-evenly;
}

// .about {
//   height: 100vh;

// }

// @media (max-width: 575px){
//   .about-pics {
//     display: flex;
//     flex-direction: column;
//     width: 80vw;
//   }
//   .copyright {
//     text-align: center;
//   }

//   .footer-icons .fab {
//     text-align: center;
//   }
// }