// Specific CSS for your home-page

.blog-list {
  background-color: $dark;
}
.navie {
  background-color: $dark;
  border-bottom: 1px solid $pink;
}

#ytplayer {
  height: 100%;
  width: 100%;
  padding-bottom: 50%;
}




.home-header {
  background: $dark;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.home-banner-content {
  display: flex;
  /*justify-content: center;*/
  /*align-items:center;*/
  /*justify-content: space-between;*/
  /*padding-top: 130px;*/
}

.header-content h1 {
  font-weight: 600;
  font-size: 50px;
  font-family: inherit;
}

.header-content p {
  font-weight: 4;
  font-size: 16px;
  font-family: inherit;
  opacity: 0.70;
}
.header-content {

  @media screen and (max-width: 576px) {
    text-align: center;
  }
}
.video-intro {
    height: 100%;
    iframe {
      width: 100%;
      height: 85%;

    }
  }

.header-content h1, p {
  color: #fff;
}

.video-intro {
 /* display: flex;
  align-items: center;*/
}

.custom-btn {
  background: $pink;
  padding: 5px 20px;
}

.home-banner-content .btn {
  padding: 10px 20px;
  background: $pink;
  font-weight: 600;
}

@media (max-width: 575px){
  .video-intro {
    width:560px;
    height:315px;
  }


}
