<footer class="">
  <div class="container footer-wrapper">
    <div class="copyright">© 2021 Clock Management. All rights reserved.</div>
    <div class="footer-icons">
      <i class="fab fa-youtube"></i>
      <i class="fab fa-spotify"></i>
      <i class="fab fa-google"></i>
      <i class="fab fa-itunes"></i>
    </div>
  </div>
</footer>
