<div class="bg-dark about">
<div class="container">
  <h1 class="h1-text">About Us</h1>
  <p class="body-index-card">Want to win your Fantasy Football  League? Well you have come to the right spot. We are home to the BEST Fantasy advice from two long time players and friends. We strive to bring you great advice from a statistical perspective as well  as medical advice from real medical professionals while making it fun! let us know what you like/dislike so we can continue to improve! #FantasyFootball</p>
  </div>
  <image class="about-pics">
    <%= image_tag('perry.jpg', height: '50%', width: 'auto') %>
    <%= image_tag('justin.jpg', height: '50%', width: 'auto') %>
  </image>
</div>
