<div class="bg-dark about">
  <div class="container">
    <h1 class="h1-text text-center">About Us</h1>
    <p class="">Want to win your fantasy football league? Well, you have come to the right place! Justin and Perry are top analysts in the country. They compete every year on accuracy rankings with all the top names in the industry, and have appeared alongside of NFL Network personalities Marcas Grant, and Michael F. Florio as well as CBS analyst Heath Cummings to name a few. Clock Management believes in giving back to our viewership and does monthly autographed jersey giveaways of top fantasy players!
    <br> <br>
    Justin is an Active duty soldier in the U.S. Army and has been playing fantasy football for over a decade. He has appeared on several networks such as Warzone Sports Network, Rumboyz Sports Network, GMM Network and others. He is part of the FantasyPros Expert rankings program and his favorite prediction was the Tyreek Hill breakout year.</p>
  </div>
  <div class="about-pics">
    <image>
      <%= image_tag('justin-pic.jpg', height: '40%', width: '25%') %>
      <%= image_tag('perry.jpg', height: '40%', width: '25%') %>
  </image>
  </div>
</div>
