<div class="home-header d-flex align-items-center">
    <div class="container home-banner-content justify-content-center">
      <div class="row w-100">
        <div class="header-content col-sm-12 col-md-6">
          <h1>Welcome to Clock <br>Management</h1>
          <p>U.S. Army Veteran and fantasy <br> football analyst</p>
          <%= link_to "CHECK OUT OUR PODCASTS", root_path, class: "btn btn-danger mt-3 mb-5" %>
        </div>
        <div class="video-intro col-sm-12 col-md-6" controlsList="nodownload">
          <iframe style="border-radius: 10px; box-shadow: 2px 2px 10px #DE3932;" src="https://www.youtube-nocookie.com/embed/VCsqWtt0ySM?controls=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
  </div>
</div>
