<div class="bg-dark">
  <div class="container">
    <h1 class="h1-text">P.A.C.E</h1>
    <%#= image_tag "pacelogo.jpg", alt: "This is the logo for the P.A.C.E", width: 200; %> <br>
    <%= image_tag "pace-event.jpg", alt: "P.A.C.E speakers", width: 1200; %>
  </div>
</div>



