<div class="bg-dark">
  <div class="container">
    <h1 class="h1-text">P.A.C.E</h1>
    <%#= image_tag "pacelogo.jpg", alt: "This is the logo for the P.A.C.E", width: 200; %> <br>
    <div class="pace">
    The Plug And Clock Experience (P.A.C.E.) is a fantasy football league made to raise money for several charities. Each member chooses a charity to represent and the money raised goes to the winner of the league’s chosen charity. You can donate
     <a href="https://www.spotfund.com/story/586a7fef-2cdb-45d1-9245-3227a08f28b3?fbclid=IwAR1fTiP0FbFuzcxXKxt4ZZDuS9EYkduYX5V6XW9EfOcwkvrF6Xmg4rc8ovM#" target="__blank">here</a>.
      We also do a weekly podcast based on this league welcoming on the different members. Below is the list of members: <br>
    <ul>
      <li>
        T-Pain
      </li>
      <li>
        Darren Waller
      </li>
      <li>
        Coach Hue Jackson
      </li>
      <li>
        Danny Woodhead
      </li>
      <li>
        Young Cash
      </li>
      <li>
        Andy Holloway (The Fantasy Footballers)
      </li>
      <li>
        Marcas Grant (NFL)
      </li>
      <li>
        Michael F. Florio (NFL)
      </li>
      <li>
        Bogard (The GMM Network)
      </li>
      <li>
        Bear Clothing
      </li>
      <li>
        Fantasy Couch
      </li>
      <li>
        Smitty (the Fantasy Football Show)
      </li>
      </ul>
    </div>
    <div>
      <%= image_tag "pace-event.jpg", alt: "P.A.C.E speakers", class: "pace-photo" %>
    </div>
  </div>
</div>



