<div class="container video-container">
  <h1 class="h1-text text-center">Clock Management Podcast</h1>
<iframe id="ytplayer" width="760" height="515" src="https://www.youtube.com/embed/RUb-fvw31r8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<script>
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      // height: '360',
      // width: '640',
      videoId: 'M7lc1UVf-VE'
      listType: 'user_uploads'
    });
  }
</script>
