footer {
  background: $dark;
  height: 120px;
  width: 100%;
  padding-top: 30px;
}

.copyright {
  color: #fff;
  font-size: 12px;
  font-family: inherit;
}

.footer-icons .fab, .fa-football-ball {
  color: $pink;
  font-size: 25px;
}

.footer-icons .fab:hover {
  color: #fff;
  font-size: 25px;
}

.fab, .fa-football-ball {
  margin: 5px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 575px){
  .footer-wrapper {
    display: flex;
    flex-direction: column;
  }
  .copyright {
    text-align: center;
  }

  .footer-icons .fab {
    text-align: center;
  }
}
