.img-index-card {
  width: 250px;
  max-height: 170px;
  object-fit: cover;
  @media screen and (max-width: 576px) {
    width: 150px;
  }
}

.border-index {
  border-bottom: 1px solid rgba(255, 255, 255, 0.233);
}

.text-color-small p {
color: rgba(255, 255, 255, 0.363);
}

.post-details {
  max-height: 200px;
  h5 {
    font-size: 19px;
    line-height: 21px;
    color: $pink;
    &:hover {
      color: $red;
    }
    @media screen and (max-width: 576px) {
      font-size: 15px;
      line-height: 17px;
    }
  }

  a {
    color: rgba(255, 255, 255, 0.274);
    text-decoration: none;
    &:hover {
      color: $pink;
      text-decoration: none;
    }
  }

  .body-index-card {
    color: rgba(255, 255, 255, 0.829);
    font-size: 14px;
    line-height: 18px;
    @media screen and (max-width: 576px) {
      font-size: 12px;
      line-height: 15px;
    }
  }
}

.sticky-col {
  position: sticky;
  top: 0;
}

.title-recent {
line-height: 40px;
}

.seach-icon {
  background-color: transparent;
  border: none;
  margin-left: -3vw;
  &:focus{
    outline: none;
  }
}

.search-input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  // padding: 10px auto;
  border-bottom: 1px solid $danger;
}

.search-input:focus, .search-input:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background-color: transparent !important;
}

.btn-box-index {
  min-width: 150px;
  a {
    position: absolute;
    margin-top: 8px;
  }
}