.img-index-card {
  width: 200px;
  max-height: 150px;
  object-fit: cover;
  @media screen and (max-width: 576px) {
    width: 150px;
  }
}

.border-index{
  border-bottom: 1px solid rgba(255, 255, 255, 0.233);
}

.text-color-small p {
color: rgba(255, 255, 255, 0.363);;
}

.upper-title {
  font-size: 13px;
  display: flex;
  align-self: flex-start;
  @media screen and (max-width: 576px) {
    font-size: 11px;
  }
}

.post-details {
  max-height: 200px;
  h5 {
    font-size: 19px;
    line-height: 21px;
    color: $pink;
    @media screen and (max-width: 576px) {
      font-size: 15px;
      line-height: 17px;
    }
  }

  .body-index-card {
    color: rgba(255, 255, 255, 0.829);
    font-size: 14px;
    line-height: 18px;
    @media screen and (max-width: 576px) {
      font-size: 12px;
      line-height: 15px;
    }
  }
}

.sticky-col {
  position: sticky;
  top: 0;
}

.title-recent {
line-height: 40px;
}